*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: rgb(28, 60, 219);
}
html{
    font-size: 60%;
    /* overflow: hidden; */
    overflow-y: scroll;
    overflow-x: scroll;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}   
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.home {
    margin-top: 10%;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.recommend {
    margin-top: 10%;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.content {
    text-align: center;
}
.content h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  
}
.content h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
   
}
.content h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
   
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color); 
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color); 
    width: 50px;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
    background-color: var(--bg-color);
}
.copyrights{
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
}